/* ########## RESET ########## */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ########## VARIABLES ########## */
:root {
  --header-height: 4.5rem;

  /* COLORS */
  --base-color: rgba(49, 120, 198, 100%);
  --base-color-second: rgba(160, 205, 254, 100%);
  --base-color-alt: rgba(28, 84, 143, 100%);

  --title-color: rgba(8, 25, 44, 100%);
  --title-color-alt: rgba(250, 250, 250, 100%);

  --text-color: rgba(117, 117, 117, 100%);
  --text-color-light: rgba(250, 250, 250, 100%);

  --body-color: rgba(250, 250, 250, 100%);

  --home-body-color-alt: rgba(250, 250, 250, 80%);

  /* fonts */
  --title-font-size: 1.875rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/* ########## BASE ########## */

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

/* ########## LAYOUT ########## */

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    var(--base-color),
    var(--base-color-second)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    var(--base-color-second),
    var(--base-color)
  );
}

.container {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 10rem 4rem 10rem 4rem;
}

.section .title {
  margin-bottom: 1rem;
}

.section .point {
  font-size: 2.5rem;
  color: var(--base-color);
}

.section header {
  margin-bottom: 4rem;
}

/* ########## HEADER ########## */

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  box-shadow: 0px 0px 12px 0 rgba(0, 0, 0, 0.15);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}

/* ########## LOGO ########## */

#header {
  padding: 0 2rem 0 2rem;
}

#header .logo {
  font: 700 2rem var(--title-font);
  color: var(--title-color);
}

#header .logo span {
  color: var(--base-color);
}

/* ########## NAVIGATION ########## */

nav {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  top: 1rem;
  transition: 0.2s;
}

nav .menu ul {
  display: flex;
  gap: 4rem;
}

nav .menu ul li a.title {
  font: 400 1rem var(--body-font);
  -webkit-font-smoothing: antialiased;
}

/* ########## HOME ########## */

#home {
  padding: 0;
  height: 100vh;
  background-image: url('../images/office/office.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#home .container {
  padding: calc(8rem + var(--header-height)) 0 0 4rem;
  width: 40vw;
  height: 100vh;
  margin-left: 0;
  background-color: var(--home-body-color-alt);
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#home .text p {
  color: var(--title-color);
  margin-bottom: 2rem;
}

/* ########## ABOUT ########## */

#about .container {
  margin: 0 auto;
  grid-auto-flow: column;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background-color: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image::before,
#about .image img {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* ########## TECHNOLOGIES ########## */

#technologies .cards {
  grid-template-columns: 1fr 1fr 1fr;
}

#technologies .grid {
  gap: 1.5rem;
}

#technologies .card {
  padding: 3rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

#technologies .card img {
  width: 10rem;
  margin: 0 auto 1.5rem auto;
}

#technologies .card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* ########## TEAM ########## */

#team .cards {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#team .grid {
  gap: 1.5rem;
}

#team .card {
  padding: 3.6rem 3rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color-alt);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

#team .card img {
  width: 10rem;
  margin-bottom: 1.5rem;
}

#team .card .title {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

#team .title-position {
  font-size: 0.8rem;
  color: var(--base-color);
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

/* ########## CONTACT ########## */

#contact .text {
  max-width: 25rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact ul.grid {
  gap: 1.2rem;
}

#contact .container {
  grid-auto-flow: column;
  align-items: center;
}

/* ########## Footer ########## */

footer {
  background: var(--base-color);
}

footer.section {
  padding: 3.5rem 4rem 3.5rem 4rem;
}

footer .container {
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

footer .logo {
  display: block;
  margin-bottom: 1.5rem;
  color: var(--title-color-alt);
  font-size: 2.25rem;
}

footer .copyright p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer .social {
  padding: 1rem;
  border-radius: 3rem;
  background-color: var(--body-color);
  grid-auto-flow: column;
}

footer .social a {
  transition: 0.3s ease-in-out;
  display: inline-block;
}

footer .social a:hover {
  transform: scale(1.2);
}

footer img {
  width: 3rem;
}

/* ########## MEDIA QUERIES ########## */

@media (min-width: 910px) and (max-width: 1129px) {
  #team .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 909px) {
  nav .menu {
    visibility: hidden;
    opacity: 0;
    display: none;
    margin: 0 auto;
  }

  #technologies .cards {
    grid-template-columns: 1fr;
  }

  #team .cards {
    grid-template-columns: 1fr;
  }
}
